.AppLayout {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

.mainContent {
  flex: 1; 
}

.headerWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: var(--app-background);
}



.footerWrapper {
  margin-top: auto;
}
